@font-face {
    font-family: 'noveeyregular';
    src: url('../fonts/Noveey/noveey-webfont.eot');
    src: url('../fonts/Noveey/noveey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-webfont.svg#noveeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeybold';
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot');
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey_-bold-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey_-bold-webfont.svg#noveeybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeyitalic';
    src: url('../fonts/Noveey/noveey-italic-webfont.eot');
    src: url('../fonts/Noveey/noveey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-italic-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-italic-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-italic-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-italic-webfont.svg#noveeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeyoutline';
    src: url('../fonts/Noveey/noveey-outline-webfont.eot');
    src: url('../fonts/Noveey/noveey-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-outline-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-outline-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-outline-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-outline-webfont.svg#noveeyoutline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot');
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff2') format('woff2'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff') format('woff'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.ttf') format('truetype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background-color: #FF6666}

@media (orientation: portrait){
    .content {
        background-image: url("../img/sincronizar/voltea.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
    }
}
@media (orientation: landscape){

    .header{
        position: relative;
    }

    .header .logotipo {
        width: 7%; 
        height: 7%; 
        margin-left: 85%;
        position: relative;
    }

    .header .share_text{
        width: 70%;
        margin-left: 12%;
        margin-right: 12%;
        position: relative;
    }

    .buttons{
        position: relative;

    }

    .buttons .fb_btn{
        background-image: url("../img/compartir/share_button.png");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 50%;
        margin-left: 25%;
        position: absolute;
        margin-top: 4%;
    }
    

    .buttons .tw_btn{
        background-image: url("../img/compartir/share_button.png");
        background-repeat: no-repeat;
        background-position: 0px -105px;
        width: 50%;
        margin-left: 25%;
        position: absolute;
        margin-top: 18%;
    }

    .buttons .play_btn{
        background-image: url("../img/compartir/playAgain.png");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 80%;
        width: 50%;
        height: 105px;
        margin-left: 25%;
        position: absolute;
        margin-top: 25%;
    }

    /* iPhone 5 (vertical y horizontal)----------- */ 
    @media only screen and (min-device-width : 320px) and (max-device-width : 598px) { /* STYLES GO HERE */ } 
        .buttons .fb_btn{ 
            background-size: 80%;
            height: 37px;
        }
        .buttons .tw_btn{
            background-position: 0px -38px;
            background-size: 80%;
            height: 37px;
            margin-top: 13%;
        }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
        .buttons .fb_btn{ 
            background-size: 80%;
            height: 48px;
        }
        .buttons .tw_btn{
            background-position: 0px -49px;
            background-size: 80%;
            height: 48px;
            margin-top: 12%;
        }
    }

    /* telefonos pequeños----------- */ 
    @media only screen and (min-device-width : 240px) and (max-device-width : 427px) { /* STYLES GO HERE */ 
        .buttons .fb_btn{ 
            background-image: url("../img/compartir/share_buttonPEQ.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
            background-size: 80%;
            height: 27px;
        }
        .buttons .tw_btn{
            background-image: url("../img/compartir/share_buttonPEQ.png");
            background-repeat: no-repeat;
            background-position: 0px -28px;
            background-size: 80%;
            height: 27px;
            margin-top: 13%;
        }
        .buttons .play_btn{
            background-image: url("../img/compartir/playAgainPEQ.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
            background-size: 80%;
            width: 50%;
            height: 105px;
            margin-left: 25%;
            position: absolute;
            margin-top: 25%;
        }
    }


}