@font-face {
    font-family: 'noveeyregular';
    src: url('../fonts/Noveey/noveey-webfont.eot');
    src: url('../fonts/Noveey/noveey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-webfont.svg#noveeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeybold';
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot');
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey_-bold-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey_-bold-webfont.svg#noveeybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeyitalic';
    src: url('../fonts/Noveey/noveey-italic-webfont.eot');
    src: url('../fonts/Noveey/noveey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-italic-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-italic-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-italic-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-italic-webfont.svg#noveeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noveeyoutline';
    src: url('../fonts/Noveey/noveey-outline-webfont.eot');
    src: url('../fonts/Noveey/noveey-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-outline-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-outline-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-outline-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-outline-webfont.svg#noveeyoutline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot');
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff2') format('woff2'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff') format('woff'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.ttf') format('truetype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background-color: #FF6666}

@media (orientation: portrait){
    .content {
        background-image: url("../img/sincronizar/voltea.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
    }
}
@media (orientation: landscape){
    body{
        left: 0px;
        top: 0px;
    }
    .content{
        width: 100%;
        height: 100%;
        float: left;
        left: 0px;
        top: 0px;
        position: absolute;
    }
    .estrella{
        width: 50%;
        height: 100%;
        background-color: rgb(204,223,204);
        position: relative;
        margin-left: 50%;
        z-index: 100;
    }

    .boton{
        background:url('../img/joystick/star-off.png') no-repeat;
        background-size: 90%;
        cursor:pointer;
        border:none;
        width: 100%;
        height:100%;
        position: absolute;
    }
    .boton:active{
        background:url('../img/joystick/star-on.png') no-repeat;
        background-size: 90%;
        cursor:pointer;
        border:none;
        width: 100%;
        height:100%;
        position: absolute;
    }
    .velo{
        background:url('../img/joystick/velo.png') no-repeat;
        background-size: 90%;
        cursor:pointer;
        border:none;
        width: 80%;
        height:100%;
        margin-left: 10%;
        margin-top: 5%;
        position: absolute;
        z-index: 101;
    }
    .cerrar_velo{
        margin-right: 12%;
        float: right;
        margin-top: 1%;
        width: 25px;
        height: 25px;
        position: relative;
    }

    
}