@font-face {
    font-family: 'noveeyregular';
    src: url('../fonts/Noveey/noveey-webfont.eot');
    src: url('../fonts/Noveey/noveey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-webfont.svg#noveeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeybold';
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot');
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey_-bold-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey_-bold-webfont.svg#noveeybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeyitalic';
    src: url('../fonts/Noveey/noveey-italic-webfont.eot');
    src: url('../fonts/Noveey/noveey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-italic-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-italic-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-italic-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-italic-webfont.svg#noveeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeyoutline';
    src: url('../fonts/Noveey/noveey-outline-webfont.eot');
    src: url('../fonts/Noveey/noveey-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-outline-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-outline-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-outline-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-outline-webfont.svg#noveeyoutline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot');
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff2') format('woff2'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff') format('woff'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.ttf') format('truetype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background-color: #006666; margin: 0;}

/* Smartphones (vertical and horizontal) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){ 
	/* Smartphones (Horizontal)(landscape) ----------- */ 
	@media only screen and (max-width : 480px) { 
		/* STYLES GO HERE */ 
		.logotipo {
			width: 40px; 
			height: 40px; 
			margin-left: 80%;
			position: relative;
		}
		h1 {
		    font-size: 4.5em; /* 40px/16=2.5em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		h2 {
		    font-size: 1.82em; /* 30px/16=1.875em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		.strella1 { 
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	width: 19px;
	    	height: 19px;
	    	margin-left: 15%;
	    	margin-top: 8%;
	    	position: absolute;
	    	float: left;
		}
		.strella2{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px;  
	    	width: 11px;
	    	height: 11px;
	    	margin-left: 40%;
	    	position: absolute;	
		}
		.strella3{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -2px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 18%;
	    	position: absolute;	
	    	margin-top: 8%;
		}
		.titulo{
			width: 86%;
			text-align: left;
			margin-left: 18%;
			margin-right: 10%;
			margin-top: 10%;
		}
		.atrapa{
			font-family: 'hello_goodbyeregular';
			color: white;
		}
		.linea3{
			width: 100%;
		}
		.regalo{
			font-family: 'noveeyregular';
			color: #FF6666;

		}
		.santa-img{
			width: 40%;
		}
		.santa{
			float: right;
			margin-right: 25%;
		}
		.jugar{
			margin-top: 6%;
			position: relative;	
		}
		.jugar_button{
			background:url('../img/landing/jugar.png') no-repeat;
		    cursor:pointer;
		    border:none;
		    width: 42%;
		    height:50px;
		    margin-left: 29%;
		    margin-top: 12%;
		    position: absolute;
		}
		.strella4{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -18px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 64%;
	    	position: absolute;	
	    	margin-top: 8%;
		}
		.strella5{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	left: 48%;
	    	margin-top: 25%;
	    	float: left;
	    	position: absolute;	
		}
		.strella6{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -19px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 83%;
	    	margin-top: 32%;
	    	float: left;
	    	position: absolute;	
		}
		.strella7{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: 0px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 4%;
	    	margin-top: 35%;
	    	float: left;
	    	position: absolute;	
		}
	} 

	/* Smartphones (vertical) (portrait) ----------- */ 
	@media only screen and (max-width : 320px) { 
		  /* STYLES GO HERE */
		.logotipo {
			width: 40px; 
			height: 40px; 
			margin-left: 80%;
			position: relative;
		}
		h1 {
		    font-size: 4.0em; /* 40px/16=2.5em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		h2 {
		    font-size: 1.82em; /* 30px/16=1.875em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		.strella1 { 
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	width: 19px;
	    	height: 19px;
	    	margin-left: 15%;
	    	margin-top: 8%;
	    	position: absolute;
	    	float: left;
		}
		.strella2{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	margin-left: 40%;
	    	position: absolute;	
		}
		.strella3{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -2px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 18%;
	    	position: absolute;	
	    	margin-top: 8%;
		}
		.titulo{
			width: 86%;
			text-align: left;
			margin-left: 16%;
			margin-right: 10%;
			margin-top: 10%;
		}
		.atrapa{
			font-family: 'hello_goodbyeregular';
			color: white;
		}
		.linea3{
			width: 100%;
		}
		.regalo{
			font-family: 'noveeyregular';
			color: #FF6666;

		}
		.santa-img{
			width: 40%;
		}
		.santa{
			float: right;
			margin-right: 25%;
		}
		.jugar{
			margin-top: 15%;
			position: relative;	
		}
		.jugar_button{
			background:url('../img/landing/jugar.png') no-repeat;
		    cursor:pointer;
		    border:none;
		    width: 64%;
		    height:50px;
		    margin-left: 18%;
		    margin-top: 18%;
		    position: absolute;
		}
		.strella4{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -18px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 64%;
	    	position: absolute;	
	    	margin-top: 8%;
		}
		.strella5{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	left: 48%;
	    	margin-top: 35%;
	    	float: left;
	    	position: absolute;	
		}
		.strella6{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -19px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 83%;
	    	margin-top: 45%;
	    	float: left;
	    	position: absolute;	
		}
		.strella7{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: 0px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 4%;
	    	margin-top: 50%;
	    	float: left;
	    	position: absolute;	
		}
	 }
} 

@media (orientation: landscape){
		.header{
			position: relative;
		}

		.header .logotipo {
			width: 7%; 
			height: 7%; 
			margin-left: 80%;
			position: relative;
		}
		h1 {
		    font-size: 4.5em; /* 40px/16=2.5em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		h2 {
		    font-size: 1.82em; /* 30px/16=1.875em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		
		.header .strella1 { 
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	width: 19px;
	    	height: 19px;
	    	margin-left: 15%;
	    	margin-top: 8%;
	    	position: absolute;
	    	float: left;
		}

		.header .strella2{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	margin-left: 64%;
	    	margin-top: 14%;
	    	position: absolute;	
		}
		.header .strella3{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -2px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 35%;
	    	position: absolute;	
	    	margin-top: 41%;
		}

		.titu {
			width: 38%;
			margin-left: 30%;
			margin-right: 30%;
			margin-top: 5%;
		}


		.jugar{
			position: relative;	
		}
		.jugar_button{
			background:url('../img/landing/jugar.png') no-repeat;
			background-size: 100%;
		    width: 38%;
		    height: 100px;
		    margin-left: 30%;
		    margin-right: 30%;
		    margin-top: 7%;
		    position: absolute;
		}
		.strella4{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -18px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 64%;
	    	position: absolute;	
	    	margin-top: 4%;
		}
		.strella5{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	left: 50%;
	    	margin-top: 17%;
	    	float: left;
	    	position: absolute;	
		}
		.strella6{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -19px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 83%;
	    	margin-top: 22%;
	    	float: left;
	    	position: absolute;	
		}
		.strella7{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: 0px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 4%;
	    	margin-top: 25%;
	    	float: left;
	    	position: absolute;	
		}
}
@media (orientation: portrait){
		.header{
			position: relative;
		}

		.header .logotipo {
			width: 12%; 
			height: 12%; 
			margin-left: 80%;
			position: relative;
		}
		h1 {
		    font-size: 4.5em; /* 40px/16=2.5em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		h2 {
		    font-size: 1.82em; /* 30px/16=1.875em */
		    margin-bottom: 6px; 
		    margin-top: 6px;
		}

		
		.header .strella1 { 
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	width: 19px;
	    	height: 19px;
	    	margin-left: 15%;
	    	margin-top: 8%;
	    	position: absolute;
	    	float: left;
		}

		.header .strella2{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	margin-left: 64%;
	    	margin-top: 14%;
	    	position: absolute;	
		}
		.header .strella3{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -2px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 30%;
	    	position: absolute;	
	    	margin-top: 72%;
		}

		.titulo {
			background-image: url("../img/logo.png");
			background-repeat: no-repeat;
			background-size: 50%;
			width: 70%;
			height: 50%;
			margin-left: 15%;
			margin-right: 15%;
			position: absolute;
		}

		.titu {
			width: 75%;
			margin-left: 12%;
			margin-right: 12%;
			margin-top: 6%;
		}

		.jugar{
			margin-top: 6%;
			position: relative;	
		}
		.jugar_button{
			background:url('../img/landing/jugar.png') no-repeat;
			background-size: 100%;
		    width: 75%;
		    height: 132px;
		    margin-left: 12%;
		    margin-right: 12%;
		    margin-top: 12%;
		    position: absolute;
		}
		.strella4{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -18px -21px; 
	    	width: 16px;
	    	height: 16px;
	    	margin-left: 64%;
	    	position: absolute;	
	    	margin-top: 8%;
		}
		.strella5{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -4px -38px; 
	    	width: 11px;
	    	height: 11px;
	    	left: 48%;
	    	margin-top: 30%;
	    	float: left;
	    	position: absolute;	
		}
		.strella6{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: -19px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 83%;
	    	margin-top: 40%;
	    	float: left;
	    	position: absolute;	
		}
		.strella7{
			background-image: url("../img/landing/sprite-stars.png");
	    	background-repeat: no-repeat;
	    	background-position: 0px 0px; 
	    	width: 19px;
	    	height: 19px;
	    	left: 4%;
	    	margin-top: 42%;
	    	float: left;
	    	position: absolute;	
		}
}


/* iPads (vertical y horizontal) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){ /* STYLES GO HERE */ } 

/* iPads (horizontal) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /* STYLES GO HERE */ } 

/* iPads (vertical) ----------- */ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { /* STYLES GO HERE */ } 

/* Desktops and laptops ----------- */ 
@media only screen and (min-width : 1224px) { /* STYLES GO HERE */ } 

/* Pantallas grandes ----------- */ 
@media only screen and (min-width : 1824px) { /* STYLES GO HERE */ } 

/* iPhone 5 (vertical y horizontal)----------- */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { /* STYLES GO HERE */ } 

/* iPhone 5 (Horizontal)----------- */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { /* STYLES GO HERE */ } 

/* iPhone 5 (vertical)----------- */ 
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { /* STYLES GO HERE */ }

