/* ----------------------------------------------------

   created with http://www.codeandweb.com/texturepacker 

   ----------------------------------------------------

   $TexturePacker:SmartUpdate:aaec05c25c79f6699244e1ea97ccc45b:cddc8dd2e48568b7b904744e9104263a:1872097e5f62b5d64dd4d1dd7ee767de$

   ----------------------------------------------------



   usage: <span class="{-spritename-} sprite"></span>



   replace {-spritename-} with the sprite you like to use



*/



.sprite {

	background-image: url(../img/assets/liptonFrontSprites.png);

	width: 125px;

	height: 315px;

	margin: 0 auto;

  position: relative;

  bottom: -35px;

    -webkit-animation: play .8s steps(6, end) infinite;

       -moz-animation: play .8s steps(6, end) infinite;

        -ms-animation: play .8s steps(6, end) infinite;

         -o-animation: play .8s steps(6, end) infinite;

            animation: play .8s steps(6, end) infinite;

}



@-webkit-keyframes play {

	0% { background-position:     0px; }

	100% { background-position: -758px; }

}



@-moz-keyframes play {

	0% { background-position:     0px; }

	100% { background-position: -758px; }

}



@-ms-keyframes play {

	0% { background-position:     0px; }

	100% { background-position: -758px; }

}



@-o-keyframes play {

	0% { background-position:     0px; }

	100% { background-position: -758px; }

}



@keyframes play {

	0% { background-position:     0px; }

    100% { background-position: -758px; }

}





/*.sprite-liptonFront0 {

    width: 270px;

    height: 1051px;

    background-position: -5px -5px;

}



.sprite-liptonFront1 {

    width: 415px;

    height: 1051px;

    background-position: -285px -5px;

}



.sprite-liptonFront2 {

    width: 398px;

    height: 1051px;

    background-position: -710px -5px;

}



.sprite-liptonFront3 {

    width: 383px;

    height: 1051px;

    background-position: -1118px -5px;

}



.sprite-liptonFront4 {

    width: 382px;

    height: 1051px;

    background-position: -1511px -5px;

}



.sprite-liptonFront5 {

    width: 396px;

    height: 1051px;

    background-position: -1903px -5px;

}

*/