@font-face {
    font-family: 'noveeyregular';
    src: url('../fonts/Noveey/noveey-webfont.eot');
    src: url('../fonts/Noveey/noveey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-webfont.svg#noveeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeybold';
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot');
    src: url('../fonts/Noveey/noveey_-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey_-bold-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey_-bold-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey_-bold-webfont.svg#noveeybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeyitalic';
    src: url('../fonts/Noveey/noveey-italic-webfont.eot');
    src: url('../fonts/Noveey/noveey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-italic-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-italic-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-italic-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-italic-webfont.svg#noveeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noveeyoutline';
    src: url('../fonts/Noveey/noveey-outline-webfont.eot');
    src: url('../fonts/Noveey/noveey-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Noveey/noveey-outline-webfont.woff2') format('woff2'),
         url('../fonts/Noveey/noveey-outline-webfont.woff') format('woff'),
         url('../fonts/Noveey/noveey-outline-webfont.ttf') format('truetype'),
         url('../fonts/Noveey/noveey-outline-webfont.svg#noveeyoutline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot');
    src: url('../fonts/HelloGoodbye/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff2') format('woff2'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.woff') format('woff'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.ttf') format('truetype'),
         url('../fonts/HelloGoodbye/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {background-color: #FF6666; margin: 0;}

@media (orientation: portrait){
    .content {
        background-image: url("../img/sincronizar/voltea.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
    }
}
@media (orientation: landscape){
    .content{
        position: relative;
    }
    #imagen_header{
        width: 100%;
    }
    .form-control{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .submiting{
        position: relative;
        width: 50%;
        margin-left: 25%;
        margin-top: 3%;
    }
    .submiting .btn-submit{
        background: url('../img/sincronizar/btn.png') no-repeat;
        background-size: 30px;
        cursor: pointer;
        border: none;
        width: 30px;
        height: 30px;
        margin-left: 31%;
        position: absolute; 
    }
    .submiting p {
        font-family: 'hello_goodbyeregular';
        color: white;
        font-size: 1.82em; /* 30px/16=1.875em */
        margin-bottom: 6px; 
        float: left;
        margin-left: 45%;
        text-align: center;

    }
    @media only screen and (max-width : 320px) { 
        /* STYLES GO HERE */
        .submiting .btn-submit {
            margin-left: 15%;
        }
        .submiting p {
            margin-left: 42%;
        }
        
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){ 
    /* Smartphones (Horizontal)(landscape) ----------- */ 
    @media only screen and (max-width : 480px) { 
        /* STYLES GO HERE */ 
        
    } 

    /* Smartphones (vertical) (portrait) ----------- */ 
    @media only screen and (max-width : 320px) { 
          /* STYLES GO HERE */
        
     }
} 

@media (max-device-width: 480px) and (orientation: landscape) {

}

@media (max-width: 767px) {

}

@media(min-width:768px){
    .container {
        width: 750px;
    }
}
@media(min-width:992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}