
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../fonts/hellogoodbye-webfont.eot');
    src: url('../fonts/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hellogoodbye-webfont.woff2') format('woff2'),
         url('../fonts/hellogoodbye-webfont.woff') format('woff'),
         url('../fonts/hellogoodbye-webfont.ttf') format('truetype'),
         url('../fonts/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    width: 960px;
    height: 720px;
    font-family: hello_goodbyeregular;
}
.container {
    background: #fff url('../img/template_sharescore.png');
    width: 1200px;
    height: 630px;
    position: absolute;
}
.container .gifts, .container .points{
    position: absolute;
    color:#FFF;
}

.container .gifts
{
    top: 310px;
    left: 600px;
    width: 175px;
    text-align: center;
    font-size: 37px;
}

.container .points
{
    top: 436px;
    left: 480px;
    width: 308px;
    font-size: 42px;
    text-align: center;
    color: #0c555d;
}