



@font-face {

    font-family: 'aspergititalic';

    src: url('../css/fonts/aspergit_italic-webfont.eot');

    src: url('../css/fonts/aspergit_italic-webfont.eot?#iefix') format('embedded-opentype'),

         url('../css/fonts/aspergit_italic-webfont.woff2') format('woff2'),

         url('../css/fonts/aspergit_italic-webfont.woff') format('woff'),

         url('../css/fonts/aspergit_italic-webfont.ttf') format('truetype'),

         url('../css/fonts/aspergit_italic-webfont.svg#aspergititalic') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'aspergitlight';

    src: url('../css/fonts/aspergit_light-webfont.eot');

    src: url('../css/fonts/aspergit_light-webfont.eot?#iefix') format('embedded-opentype'),

         url('../css/fonts/aspergit_light-webfont.woff2') format('woff2'),

         url('../css/fonts/aspergit_light-webfont.woff') format('woff'),

         url('../css/fonts/aspergit_light-webfont.ttf') format('truetype'),

         url('../css/fonts/aspergit_light-webfont.svg#aspergitlight') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'aspergitregular';

    src: url('../css/fonts/aspergit-webfont.eot');

    src: url('../css/fonts/aspergit-webfont.eot?#iefix') format('embedded-opentype'),

         url('../css/fonts/aspergit-webfont.woff2') format('woff2'),

         url('../css/fonts/aspergit-webfont.woff') format('woff'),

         url('../css/fonts/aspergit-webfont.ttf') format('truetype'),

         url('../css/fonts/aspergit-webfont.svg#aspergitregular') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'aspergitbold';

    src: url('../css/fonts/aspergit_bold-webfont.eot');

    src: url('../css/fonts/aspergit_bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('../css/fonts/aspergit_bold-webfont.woff2') format('woff2'),

         url('../css/fonts/aspergit_bold-webfont.woff') format('woff'),

         url('../css/fonts/aspergit_bold-webfont.ttf') format('truetype'),

         url('../css/fonts/aspergit_bold-webfont.svg#aspergitbold') format('svg');

    font-weight: normal;

    font-style: normal;



}





*{

	font-family: 'aspergitbold';

	color:#fff;

}



html, body

{

    height: 700px;

}





.mountains{

	background: url("../img/mountains.png") repeat-x  center ;

	height: 258px;

	width: 100%;

	z-index: 2;

	position: absolute;

	bottom: 0;

    left: 0;

}



.mountains.others{

	background: url("../img/buildings_valley.png") repeat-x 40% 2px;

}



.buildings{

	background: url("../img/buildings.png") repeat-x  center;

	height: 100px;

	z-index: 2;

	position: absolute;

	bottom: -4px;

	width: 100%;

    left: 0;

}



.moon{

	background: url("../img/moon.png") no-repeat center;

	height:138px;

	width:138px;

	position:absolute;

	margin-left:10%;

	top: 96px;

}



.mainContainer{

	width:100%;

	height:100%;

	overflow:hidden;

	position: relative;

}



.introBackgroundContainer{

	background:url(../img/main/liptonBackgroundStart.png) no-repeat center center;

	height: 700px;

	width: 100%;

}



.textContainer{

	width: 100%;

}



.mainMenu{

	width: 100%;

}



.textContainer h3{

	color:#1c4f71;

}



.logoContainer{

	width:100%;

}



.logoPlaceHolder{

	background: url(../img/main/mainLogoLipton.png) no-repeat center center;

	width: 100%;

	height: 300px;	

}







.startGameContainer{

	width:100%;

}



.startLogoPlaceHolder{

	background: url(../img/main/startGameLipton.png) no-repeat center center;

	width:100%;

	height: 87px;

	cursor: pointer;

}



.gameContent{

	position: static;

	margin: 0 auto;

	height: 480px;

	padding:30px;

}



.mainMenu{

	text-align: center;

	position: relative;

}



.syncMenu{

	text-align: center;

	position: relative;

	z-index: 5;

	width: 	663px;

	margin: 0 auto;

	height: 600px;

}



.mainMenu p{

	font-size:14px;

}



.phoneLayer{

	position: relative;

	top: -60px;

}



.phoneLayer img, .phoneLayer .phone{

	margin-left: 50px;

	margin-right: 50px;

	vertical-align: top;

    width: 121px;

    float: left;

}



.phoneLayer img.paso1 {

    height: 506px;    

}



.phoneLayer img.paso2 {

    height: 554px;

}



.phoneLayer .phone {

    height: 601px;

}



.phoneLayer .phone.inactive{

    background: transparent url(../img/sync/step_3_inactive.png) top center;

}



.phoneLayer .phone.active{

    background: transparent url(../img/sync/step_3_active.png) top center;

}





.logo{

	margin-bottom: 50px;	

}



.fb_button{

	margin-bottom: 12px;

}



.fb_button button{

    background: transparent url('../img/main/play_fb.png') no-repeat center center;

    width: 192px;

    height: 37px;

    border: none;

    outline: none;

}



.play_button{

	margin-bottom: 52px;

}



.xmas-ball{

	position: absolute;

	top: -50px;

	margin-left: 70%;

}



.mainNav{

	position: relative;

	width: 369px;

	height: 40px;

	margin-left: auto;

	margin-right: auto;

	margin-top: 60px;

	z-index: 4;

}



.navButton, .navButton-omega{

    margin-top: 15px;

}



.navButton{

	clear: none;

	float: left;

	padding-right: 15px;

}



.navButton-omega{

	clear: none;

	float: left;

}



.mainSideNav{

	position: absolute;

	top: 0;

	width: 155px;

	height: 368px;

	right: 0;

	margin-right: 15px;

	z-index: 5;

}





.shareBall{

	position: absolute;

	top: 0px;

	left: 100px;

    width: 51px;

    height: 292px;

    background: transparent url("../img/main/share_ball.png") no-repeat center center;

}



/*.twButton{

    left: -124px;

    overflow: hidden;

    width: 24px;

}

.twButton, .fbButton {

    -webkit-transition: 1s;  /* For Safari 3.1 to 6.0 

    transition: 1s;

}

.twButton:hover, .fbButton:hover{

    width: 138px;

    margin-left: -114px;

}

.twButton a{

    display: block;   

}



.fbButton{

	margin-top: 30px;

	left: -124px;

    cursor: pointer;

    overflow: hidden;

    width: 24px;

}

*/



.firstStep, .secondStep , .thirdStep{

	position: absolute;

	top: 40px;

}



.secondStep{

	margin-left: 220px;

}



.thirdStep{

	margin-left: 440px;

}



.textLayer{

	text-align: left;

	position: relative;

	top: -500px;

	margin-left: 50px;

}



.firstText{

	position: relative;

	width: 171px;

	margin-left: 75px;

}



.secondText{

	position: relative;

	width: 140px;

	margin-left: 295px;

	top: -60px;

}



.thirdText{

	position: relative;

	width: 174px;

	margin-left: 520px;

	top: -110px;

}



.firstText p, .secondText p, .thirdText p{

	font-size:17px;

}



.firstText p span{

	color:#FF6860;

	font-size:15px;

}



.secondText p span{

    color:#FF6860;

    font-size:18px;

}



.userPlay{

	margin: 0 auto;

	width: 160px;

	height: 95px;

	margin-top: 10px;

}



.userPlay.inactive{

    background: transparent url("../img/sync/sync_play_inactive.png") no-repeat top center;

}



.userPlay.active {

    background: transparent url("../img/sync/sync_play_active.png") no-repeat top center;    

}



.userPlay a{

    display: block;

    width: 100%;

    height: 100%;

    text-indent: -9999px;

}



.syncUser{

	position: relative;

	text-align: center;

	z-index: 5;

	margin: 0 auto;

	width: 160px;

	height: 160px;	

}



.userThumb{

	margin-bottom:25px;

}



.endMenu{

	text-align: center;

	position: relative;

	z-index: 5;

}



.endMenu h2{

	color:#FF6860;

	margin-bottom: 40px;

	font-size: 72px;	

}



.endMenu h3{

	margin-bottom: 25px;

	font-weight: bold;

	font-size:21px;

}

.fastest{

	width: 500px;

	margin: 0 auto;

	margin-top: 10px;

}

.endMenu p{

	margin-bottom: 0px;

	font-weight: bold;

	font-size: 14px;

	color: #1c4f71;

	width: 70%;

	margin: 0 auto;

}



.endMenu h4{

	font-weight: bold;

	font-size: 21px;

}



.shareButtons{

	text-align: center;

	margin-bottom: 10px;

	margin-top: 70px;

}



.shareScore{

	text-align: center;

	width: 360px;

	margin: 0 auto;

	margin-top: 30px;

}



.shareButtons img{

	padding:15px;

}



.shareButtons img, .shareScore img{

    cursor: pointer;

}



.endButtons{

	text-align:center;

}



.endButtons img{

	padding:20px;

}



.how2Menu{

	text-align: center;

	position: relative;

	z-index: 5;

	width: 752px;

	margin: 0 auto;

}



.how2Menu h1{

	position: relative;

	color: #FF6860;

	font-size:72px;

}



.how2Info{

	background: url("../img/how2play/lights.png") no-repeat;

	text-align: center;

	height: 550px;

	top: 40px;

	padding: 70px 0px 0px 80px;

}



.gameItem{

	width:620px;

	height:45px;

	font-size: 18px;

	margin-bottom:15px;

}



.gameItem img, .gameItem span, .gameItem p{

	float:left;

	clear:none;

	margin-right: 10px;

}



.gameItem span{

	color: #FF6860;

}



.itemDesc{

	display: table-cell;

	height: 41px;

	vertical-align: middle;

}



.itemImg{

	display: table-cell;

	vertical-align: middle;

	width:50px;

	height:41px;

}



.how2Nav{

	width: 364px;

	z-index: 4;

	margin: 0 auto;

	position: relative;

	height: 40px;

}



.aboutMenu{

	text-align: center;

	z-index: 5;

	width: 752px;

	margin: 0 auto;

}



.aboutMenu h1{

	position: relative;

	color: #FF6860;

	font-size:72px;

}



.aboutInfo{

	background: url("../img/how2play/lights.png") no-repeat;

	text-align: center;

	width: 752px;

	height: 550px;

	z-index: 5;

	position: relative;

	padding: 80px 40px 30px 50px;

}



.aboutInfo span{

	color: #FF6860;

	font-size:18px;

	font-weight: bold;

}



.aboutInfo p{

	font-size:18px;

    margin-bottom: 26px;

}



.contactField img, .contactField span{

	margin-left:10px;

}



.contactField{

	font-weight:bold;

}



.recordsMenu{

	text-align: center;

	position: relative;

	z-index: 5;

	width: 500px;

	margin: 0 auto;

}



.recordsMenu h1{

	position: relative;

	color: #FF6860;

	margin-bottom: 50px;

	font-size:72px;

}



.recordsTable{

	text-align: center;

	margin: 0 auto;

	width: 490px;

}



.recordRow{

	background: url("../img/records/row.png") no-repeat;

	width:489px;

	height:32px;

	color:#FFF;

	padding:5px;

	margin-bottom:15px;

	font-weight: bold;

}



.counter,.user{

	font-weight:bold;

	float:left;

	clear:none;

}



.user{

	margin-left:5px;

}

.score{

	float:right;

	font-weight: normal;

}



.recordRowActive{

	background: url("../img/records/user_row.png") no-repeat;

	width:489px;

	height:32px;

	padding:5px;

	margin-bottom:15px;

	font-weight: bold;



}



.recordRowActive .user,.recordRowActive .counter, .recordRowActive .score{

	color:#0C555D !important;



}



.recordNav{

	margin: 0 auto;

	z-index: 4;

	width: 364px;

	margin-top: 30px;

}

.recordNav img{

    cursor: pointer;

}



@media screen and (max-width: 1024px) and (max-width: 768px) {



html{

	width:100%;

	height:100%;

}



}



@media screen and (max-height: 768px) {

    .logo {

        margin-bottom: 20px;

    }

    .xmas-ball {

        top: -100px;

    }

    .gameContent {

        padding-top: 20px;

    }

    .mainMenu p {

        margin: 0 0 5px;

    }

    .mainNav {

        margin-top: 20px;

    }

    .syncMenu {

        top: -65px;

    }

    .syncUser {

        top: -95px;

    }

    .how2Info {

        background: url("../img/how2play/lights_small.png") no-repeat;

        height: 441px;

        margin-bottom: 25px;

        padding-top: 60px;

    }

    .aboutInfo {

        background: url("../img/how2play/lights_small.png") no-repeat;

        height: 460px;

        margin-bottom: 10px;

        padding-top: 45px;

    }

    .aboutInfo p{

        margin-bottom: 15px;

    }

    .aboutInfo p, .aboutInfo span {

        font-size: 17px;

    }

    .gameItem {

        margin-bottom: 5px;        

    }

    .recordsMenu h1 {

        margin-bottom: 10px;

    }

    .recordRow {

        margin-bottom: 5px;

    }

    .recordRowActive {

        margin-bottom: 10px;

    }

    .recordNav {

        margin-top: 20px;

    }

    .shareScore {

        margin-top: 20px;

    }

}



.roundContainer {

}

.roundContainer .inactive{

	/*background-color: #ff685f;

	border-radius: 100%;

	width: 60px;

	height: 60px;

	padding: 2.5px;

	overflow: hidden;

	margin: 0 auto;*/

	opacity: 0.5;

}



.roundContainer .active{

	background-color: #ff685f;

	border-radius: 100%;

	width: 60px;

	height: 60px;

	padding: 2.5px;

	overflow: hidden;

	margin: 0 auto;

}



.photoContainer{

    border: 2px solid #ff685f;

    border-radius: 30px;

    -moz-border-radius: 30px;

    -khtml-border-radius: 30px;

    -webkit-border-radius: 30px;

    width: 56px;

    height: 56px;

    background: transparent url('../img/sync/silueta.jpg') no-repeat center center;

    margin: 0 auto;



	/*width: 60px;

	height: 60px;

	overflow: hidden;

	border-radius: 100%;

	margin: 0 auto;*/

}



.photoContainer .inactive img{

	opacity: 0.5;

}



.photoContainer .active img{

	opacity: 1;	

}



.canvas-loader-container {

    width: 100%;

    height: 100%;

    top: 0; 

    left: 0;    

    position: absolute;

    z-index: 5000;

}

.canvas-loader-backdrop{

    width: 100%;

    height: 100%;

    background-color: #FFF;

    opacity: .6;

    filter: alpha(opacity=60);

}



.ballShareButtons {

    position: relative;

    top: 315px;

    left: 15px;

}



.aboutInfo p  span {

    font-family: Helvetica, Arial;

    color:#FFF;

    font-weight: normal;

}



/*LIPTON APP*/



.endGameBackgroundContainer{

	background:url(../img/end/endGameBackground.png)no-repeat center center;

	width: 100%;

	height: 700px;

}

.endMenu div:nth-child(1){

	width: 500px;

	margin: 0 auto 30px;

}

.bestTime div.rankButtonContainer{

	margin-bottom: 20px;

	margin-top: 20px;

}

.inviteFriends .lifeContainer{

	width: 60%;

	margin: 0 auto;

	margin-bottom: 30px;

}

a:hover, a:focus{

	text-decoration: none;

}

.lifeContainer{

	width: 85%;

	margin: 0 auto;

	background-color: #6a9bc6;

	opacity: 0.7;

	/*height: 350px;*/

}



.lifeContainer_2{

	width: 70%;

	margin: 0 auto;

	background-color: #6a9bc6;

	opacity: 0.7;

	height: 415px;

}

.lifeContainer_3{

	width: 75%;

	margin: 0 auto;

	background-color: #6a9bc6;

	opacity: 0.7;

	height: 280px;

}

.oneLife .invite_buttonContainer .rankingButton{

	margin-top: 0px;

}

.spriteContainer{

	width: 90%;

	margin: 0 auto;

	position: absolute;

	bottom: 0px;

}

.lifeContainer_3 h1{

	margin-bottom: 50px;

	padding-top: 30px;

}

.lifeContainer h1{

	margin-bottom: 50px;

	padding-top: 30px;

}

.invite_buttonContainer{

	width: 270px;

	margin: 0 auto;

	padding-top: 40px;

}

.lifeContainer .invite_buttonContainer  {
    width: 375px;
}

.lifeContainer .shareButton {
    float: left;
    margin-right: 8px;
}

.invite_buttonContainer a{

	background-color: #4277aa;

	border: none;

	color:#FFF;

	cursor:pointer;

	border: 3px solid #4277aa;	

}

.noLife .invite_buttonContainer .rankingButton{

	margin-top: 0px;

}

.stopWatch{

	background:url(../img/end/stopWatch.png) no-repeat center center;

	width: 34px;

	height: 39px;

}

.bestTimeContainer{

	width: 155px;

	margin: 0 auto;

	margin-top: -20px;

	display: inline-flex

}

.bestTimeContainer h1{

	margin-bottom: 0;

	padding-top: 0;

	margin-top: 0;

	color:#f5ed63;

}

.inviteFriends .invite_buttonContainer{

	width: 82%;

	margin: 0 auto;

}

.inviteFriends .invite_buttonContainer .rankingButton{

	margin-left: 35px;

	margin-top: 0px;

}

.noLife .rankingButton{

	margin-left: 35px;

}

.oneLife h1{

	padding-top: 30px;

	width: 60%;

	margin: 0 auto;

	margin-bottom: 20px;

}

.oneLife .invite_buttonContainer{

	width: 90%;

}

.bestTime{

	padding-top: 10px;

}

.rankButtonContainer a{

	background-color: #4277aa;

	border: none;

}

.bestTimeContainer h3{

	color:#FFF;

}

.bestTime h3:nth-child(2){

	color:#f5ed63;

}

.bestTime .invite_buttonContainer{

	width: 100%;

	padding-top: 10px;

}

.bestTime .invite_buttonContainer a{

	margin-left: 10px;

}

.goodTry .textContainer{

	width: 80%;

	margin: 0 auto;

}

.tryAgain{

	margin-top: 2px;

	margin-bottom: 2px;

}

.goodTry h1{

	margin-bottom: 20px;

}

.goodTry .textContainer p:nth-child(2){

	margin-bottom: 5px;

}

.goodTry .invite_buttonContainer{

	padding-top: 20px;

}

.goodTry .tryAgain, .goodTry .rankingButton {

	margin: 0 8px 0 0;

}

.papelilloAmarillo{

	background: url(../img/assets/papelillo/papelilloAmarillo.png) no-repeat;

	width: 17px;

	height: 22px;

}

.papelilloAzul{

	background: url(../img/assets/papelillo/papelilloAzul.png) no-repeat;

	width: 17px;

	height: 22px;

}

.papelilloNaranja{

	background: url(../img/assets/papelillo/papelilloNaranja.png) no-repeat;

	width: 17px;

	height: 22px;

}

.papelilloRojo{

	background: url(../img/assets/papelillo/papelilloRojo.png) no-repeat;

	width: 17px;

	height: 22px;

}

.papelilloVerde{

	background: url(../img/assets/papelillo/papelilloVerde.png) no-repeat;

	width: 17px;

	height: 22px;

}

.rankTitleContainer{

	width: 19%;

	margin: 0 auto;

	padding-top: 20px;

}

.roundPicture{

	background-color: #c5c5c5;

	height: 80px;

	width: 80px;

	border-radius: 100%;

	position: absolute;

	top: 80px;

	-webkit-background-size: cover;

	background-size: cover;

}

.otherContainer {

	position: relative;

}

.otherContainer .roundPicture {

	top: -15px;

}

.rankUserContainer{

	background-color: #fff;

	color: #0d3f6f;

	width: 89%;

}

.rankContainer h3{

	color: #0d3f6f;;

}

.rankTitleContainer h3{

	color:#FFF;

}

.userNameContainer{

	width: 70%;

	margin-left: 100px;

}

.timeContainer{

	background-color: #fcd000;

	height: 55px;

	width: 10%;

}

.timeContainer h3{

	width: 100%;

	margin: 0 auto;

	margin-top: 15px;

}

.otherUserContainer{

	padding-top: 70px

}

.otherUserContainer .otherContainer:nth-child(odd){

	background-color:#FFF;

	width: 100%;

	margin-bottom: 10px;

}

.otherUserContainer .otherContainer:nth-child(even){

	background-color: #a9c2da;

	width: 	100%;

	margin-bottom: 10px;

}

.rankContainer .lifeContainer{

	/*height: 520px;*/

}

.otherNameContainer{

	width: 	85%;

}

.otherPositionContainer{

	width: 15%;

	background-color:#0d3f6f;

	height: 55px;

}

.otherPositionContainer h3{

	color: #FFF;

	width: 80%;

	margin: 0 auto;

	margin-top: 15px;

}

.rankButtonContainer{

	width: 40%;

	margin: 0 auto

}

.rankButtonContainer a{

	background-color: #4277aa;

	border: none;

	color:#FFF;

	cursor:pointer;

	width: 100px;	

	border: 3px solid #4277aa;

}

.invite_buttonContainer .rankingButton{

	/*margin-top: -3px;*/

}

.oneLife .rankingButton{

	margin-left: 10px;

}



.otherUserContainer .userNameContainer {

	width: 400px;

}



.otherUserContainer h3 {

	font-size: 23px;

}

.tutorialContainer{

	width: 110px;

	    margin: 0 auto;

	    padding-top: 15px;

}

.tutorialKeys{

	background:url(../img/main/tutorialKeys.png) no-repeat center center;

	width: 121px;

	height: 85px;

	cursor:pointer;

	background-size: contain;

}

.tutorialContent{

	position: absolute;
    top: 245px;

}

.tutorialContent h2{

	font-size: 20px;
}

.tutorialUnderline{

	font-size: 32px;

}

.mainMenu .lifeContainer h1{

	padding-top: 0px;

}

button.startGame {
    background-color: #4277aa;
    border: none;
    color:#FFF;
    cursor:pointer;
    border: 3px solid #4277aa;  
    margin: 0 0 15px;
}

.tutorialContent .lifeContainer
{
    opacity: .9;
}