<!--end.html-->

<div class="endContainer" ng-controller="endGameController">

	<div class="endGameBackgroundContainer">

		<div class="endMenu">

			<div class="lifeContainer" style="height:290px" ng-hide="!inviteFriends">

				<div class="inviteFriends" >

					<h1 class="text-center"> ¡INVITA A TUS AMIGOS! </h1>

					<p class="text-center"> RETA A TUS AMIGOS A SUPERAR TU TIEMPO </p>

					<div class="invite_buttonContainer clearfix">

						<a class="inviteButton pull-left" ng-click="invite()">INVITAR</a>

						<a class="rankingButton pull-left" href="#/records">RANKING</a>

						<a class="exitButton pull-right">SALIR</a>

					</div>

				</div>

			</div>

			<div class="lifeContainer_3" ng-hide="!noLife">

				<div class="noLife" >

					<h1 class="text-center"> ¡UPS! </h1>

					<p class="text-center">¡POR EL DÍA DE HOY SE TE AGOTARON LAS OPORTUNIDADES!<br />

					REGRESA MAÑANA O PIDELE VIDA A TUS PANAS</p>

					<div class="invite_buttonContainer clearfix">

						<a class="moreLifes pull-left">PEDIR VIDAS</a>

						<a class="rankingButton pull-left" href="#/records">RANKING</a>

						<a class="exitButton pull-right">SALIR</a>

					</div>

				</div>

			</div>

			<div class="lifeContainer" ng-hide="!oneLife" style="height: 260px">

				<div class="oneLife" >

					<h1 class="text-center"> ¡TE {{	lifeLeft > 1 ? "quedan" : "queda"}} {{lifeLeft}} {{	lifeLeft > 1 ? "vidas" : "vida"}}!</h1>

					<p class="text-center">¡AÚN TIENES {{lifeLeft}} {{	lifeLeft > 1 ? "oportunidades" : "oportunidad"}} PARA CONSEGUIR EL MEJOR TIEMPO</p>

					<div class="invite_buttonContainer clearfix">

						<a class="tryAgain" href="#/game">VOLVER A JUGAR</a>

						<a class="inviteButton pull-left" ng-click="invite()">INVITAR</a>

						<a class="rankingButton pull-left" href="#/records">RANKING</a>

						<a class="exitButton pull-right">SALIR</a>

					</div>

				</div>

			</div>

			<div class="lifeContainer_2" ng-hide="!bestTime">

				<div class="bestTime" >

					<h1 class="text-center"> ¡FELICITACIONES!</h1>

					<h3 class="text-center"> TU TIEMPO ES DE</h3>

					<div class="bestTimeContainer clearfix">

						<div class="stopWatch pull-left"></div>

						<h1 class="pull-right">{{playerTime}}</h1>

					</div>

					<h3 class="text-center fastest"> ERES EL MÁS RAPIDO DE TODOS</h3t>

					<div class="rankButtonContainer">

						<a class="rankingButton" href="#/records">RANKING</a>

					</div>

					<p class="text-center">¿QUIERES RETAR A TUS AMIGOS A SUPERAR TU TIEMPO?</p>

					<div class="invite_buttonContainer clearfix">

						<a class="shareButton" ng-click="share()">COMPARTIR</a>

						<a class="challengeButton" ng-click="dare()">RETAR</a>

						<a class="exitButton" href="#/">SALIR</a>

					</div>

				</div>

			</div>

			<div class="lifeContainer" style="height: 370px;" ng-hide="!goodTry">

				<div class="goodTry" >

					<div class="textContainer">

						<h1 class="text-center">¡HICISTE UN BUEN INTENTO!</h1>

						<p class="text-center">AHORA RETA A TUS AMIGOS A JUGAR</p><br />

						<p class="text-center"> TU TIEMPO FUE DE </p>

						<div class="bestTimeContainer clearfix">

							<div class="stopWatch pull-left"></div>

							<h1 class="pull-right">{{playerTime}}</h1>

						</div>

						<p class="text-center">REFRÉSCATE CON LIPTON E INTÉNTALO DE NUEVO</p>

					</div>

					<div class="invite_buttonContainer clearfix">

						<a class="tryAgain pull-left" href="#/game">VOLVER A JUGAR</a>

						<a class="shareButton" ng-click="share()">COMPARTIR</a>

						<a class="rankingButton pull-left" href="#/records">RANKING</a>

						<a class="exitButton pull-left" href="#/">SALIR</a>

					</div>

				</div>

			</div>

		</div>

		<div class="spriteContainer">

			<div class="sprite"></div>

		</div>

	</div>

</div>

<!-- 			<h3>Fin</h3>

			<h2>RESULTADOS DEL JUEGO</h2>

			<div class="userThumb">

				<div class="photoContainer" ng-style="{'background-image':'url(' + profilepic.src + ')','width': profilepic.width, 'height': profilepic.height }"  ng-styling="{{profilepic.src}}"></div>

			</div>

			<p>{{fbuser}}</p>

			<h4>Atrapaste {{gifts}} regalos </h4>

			<h4>Total: {{total}} puntos</h4>

			<div class="shareButtons">

				<img src="img/end/share_fb.png" alt="Compartir Facebook" ng-click="shareresult()"/>

				<a href="https://twitter.com/intent/tweet?text=Ya%20atrap%C3%A9%20mi%20regalo%20manejando%20el%20trineo%20de%20Santa.%20Juega%20t%C3%BA%20tambi%C3%A9n.%20%C2%A1Hay%20premios!&amp;url=http://loquenoteesperabas.com"><img src="img/end/share_tw.png" alt="Compartir Twitter"/></a>

			</div>

			<div class="endButtons">

				<a ng-href="#sync/{{fb}}"><img src="img/end/play_again.png" alt="Jugar de Nuevo"/></a>

				<a href="#records/game"><img src="img/end/records_table.png" alt="Tabla de Records"/></a>

			</div> -->