<style type="text/css">
    .canvascontainer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .canvascontainer canvas {
        /*width: 100%;
        height: 100%;*/
        z-index: 2000;
    }
</style>
<div id="canvas" class="canvascontainer">
</div>