

<div class="introContainer">

	<div class="introBackgroundContainer">

	 	<div class="mainMenu">

		 	<div class="tutorialContent" ng-hide="tutorial">

		 		<div class="lifeContainer">

		 			<div class="tutorialContainer">

		 				<div class="tutorialKeys" ng-click="tutorial=!tutorial"></div>

		 			</div>

		 			<h2> Alterna entre las teclas <span class="tutorialUnderline">&#8592;</span> y <span class="tutorialUnderline">&#8594;</span> de tu teclado para mover al personaje y escapar de la ciudad con Lipton.</h2>

		 			<button ng-click="fblogin(); getKey()" class="startGame">Continuar</button>

		 		</div>

		 	</div>

	 		<div class="logoContainer">

	 			<div class="logoPlaceHolder"></div>

	 		</div>

	 		<div class="textContainer">

	 			<div class="textPlaceHolder">

	 				<h3> SAL DE LA CIUDAD, </br> ESCÁPATE A RESPIRAR ALGO </br> DE OPTIMISMO.</h3>

	 			</div>

	 		</div>

	 		<div class="startGameContainer">

	 			<div class="startLogoPlaceHolder" ng-click='tutorial=!tutorial' id="facebookLogin"></div>

	 		</div>

		</div>

	 </div>

</div>



 