<!--how2play.html-->
	<div class="how2Menu">
		<img src="img/how2play/how2play.png" alt="Cómo Jugar" style="margin-bottom:20px; margin-top: 20px;"/>
		<div class="how2Info">
			<div class="gameItem"><div class="itemImg"><img src="img/how2play/regalo.png" alt="Regalo"/></div><div class="itemDesc"><span>Regalos:</span> Atrapa la mayor cantidad de regalos y suma puntos.</div></div>
			<div class="gameItem"><div class="itemImg"><img src="img/how2play/duende.png" alt="Duende"/></div><div class="itemDesc"><span>Duende:</span> Transformarán todo en regalos.</div></div>
			<div class="gameItem" style="margin-left: -10px;"><div class="itemImg"><img src="img/how2play/reno.png" alt="Reno"/></div><div class="itemDesc"><span>Rodolfo el Reno:</span> Te dará mayor velocidad.</div></div>
			<div class="gameItem"><div class="itemImg"><img src="img/how2play/estrella.png" alt="Estrella"/></div><div class="itemDesc"><span>Estrellas:</span>	¡Acumula estrellas y lánzalas para duplicar tu puntuación!</div></div>
			<div class="gameItem"><div class="itemImg"><img src="img/how2play/galleta.png" alt="Galleta"/></div><div class="itemDesc"><span>Galletas:</span> Suma puntos comiendo galletas.</div></div>
			<div class="gameItem"><div class="itemImg"><img src="img/how2play/grinch.png" alt="Grinch"/></div><div class="itemDesc"><span>Grinch:</span> <b>¡Ten cuidado con los Grinch!</b></div></div>
			<div class="gameItem" style="margin-left: -10px;"><div class="itemImg"><img src="img/how2play/hallaca.png" alt="Hallaca"/></div><div class="itemDesc"><span>Hallacas:</span> Las hallacas ponen lento a Santa.</div></div>
		</div>
		<div class="how2Nav">
			<div class="navButton"><a href="#home" id="home"><img src="img/how2play/home_button.png" alt="Home"/></a></div>
			<div class="navButton"><a href="#records" id="records"><img src="img/how2play/records_table.png" alt="Tabla de Records"/></a></div>
			<div class="navButton-omega"><a href="#nosotros" id="nosotros"><img src="img/how2play/nosotros.png" alt="Nosotros"/></a></div>
		</div>
	</div>

	<div class="mainSideNav">
		<div class="logoEAD"><img src="img/ead_logo.png" alt="E/AD"/></div>
		<!--<div class="shareBall">
			<img src="img/main/share_ball.png" alt="Share"/>
			<div class="twButton"><img src="img/main/tw_button.png" alt="Twitter"/></div>
			<div class="fbButton"><img src="img/main/fb_large.png" alt="Facebook" style="position: relative; left: 24px;"/><img src="img/main/fb_small.png" alt="facebook"/></div>
		</div>-->
	</div>