<!--nosotros.html-->
	<div class="aboutMenu">
		<h1>NOSOTROS</h1>
		<div class="aboutInfo">
			<span>Somos el Principio de la Vida Digital. </span>
			<p>En Equilibrio Agencia Digital creamos estrategias comunicacionales para marcas que conversan y construyen sobre plataformas digitales.</p>

			<p>Queremos que tu marca trascienda lo tradicional para crear Vida Digital en Redes Sociales, Web, Móvil o App’s generando engagement y aumentando el alcance en los usuarios.</p>
			<p>
				<button class="btn btn-default" ng-click="open()">Haz clic aquí para ver nuestro Reel 2014.</button>
			</p>

		<p>	<span>¿</span>Estás listo para formar parte de nuestro portafolio 2015<span>?</span> <span>¡</span>Vamos, que este año promete<span>!</span> Y en Equilibrio Agencia Digital te estamos esperando. </p>
			<div class="contactInfo">
				<div class="contactField">
					<a href="https://www.twitter.com/huellasocial" style="margin-left: -35px;" target="_blank"><img src="img/nosotros/twitter.png" alt="twitter"/></a>
					<a href="https://facebook.com/EquilibrioAgenciaDigital" style="margin-left: 35px;" target="_blank"><img src="img/nosotros/facebook.png" alt="facebook"/></a>
					<a href="mailto://equilibrio@laagenciadigital.com" style="margin-left: 35px;"><img src="img/nosotros/mail.png" alt="mail"></a>
				</div>
			</div>
		</div>
		<div class="how2Nav">
			<div class="navButton"><a href="#how2play" id="how2play"><img src="img/main/how2play.png" alt="How 2 play"/></a></div>
			<div class="navButton"><a href="#records" id="records"><img src="img/how2play/records_table.png" alt="Tabla de Records"/></a></div>
			<div class="navButton-omega"><a href="#home" id="home"><img src="img/how2play/home_button.png" alt="Home"/></a></div>
		</div>
	</div>

	<!--<div class="mainSideNav">
		<div class="logoEAD"><img src="img/ead_logo.png" alt="E/AD"/></div>
		<div class="shareBall">
			<img src="img/main/share_ball.png" alt="Share"/>
			<div class="ballShareButtons">
				<div class="twButton"><img src="img/main/tw_large.png" alt="Twitter"/></div>
				<div class="fbButton">
					<img src="img/main/fb_large.png" alt="Facebook" style=""/>
				</div>
			</div>
		</div>
	</div>-->