	<!--records_table.html-->
<div class="endGameBackgroundContainer">
	<div class="rankContainer" ng-controller="rankController">
		<div class="lifeContainer">
			<div class="rankTitleContainer">
				<h3> RANKING </h3>
			</div>
			<div ng-if="userScore.rank > 5">
				<div class="picture">
					<div class="roundPicture pull-left" ng-style="{'background-image':'url(' + profilepic.src + ')'}">
					</div>
				</div>
				<div class="rankUserContainer pull-left clearfix">
					<div class="rankTimeContainer">
						<div class="userNameContainer pull-left">
							<h3>{{userScore.name}}</h3>
						</div>
					</div>
				</div>
				<div class="timeContainer pull-right">
					<h3># {{userScore.rank}}</h3>
				</div>
			</div>
			<div class="otherUserContainer">
				<div class="otherContainer clearfix" ng-repeat="(index,score) in scores">
					<div class="picture" ng-show="userScore.user_id==score.User.id">
						<div class="roundPicture pull-left" ng-style="{'background-image':'url(' + profilepic.src + ')' }">
						</div>
					</div>
					<div class="pull-left" ng-class="{userNameContainer:(userScore.user_id==score.User.id),otherNameContainer:!(userScore.user_id==score.User.id)}">
						<h3> {{score.User.name}}</h3>
					</div>
					<div clasS="otherPositionContainer pull-right">
						<h3># 00{{index + 1}}</h3>
					</div>
				</div>
			</div>
			<div class="rankButtonContainer">
				<a class="tryAgain" href="#/game">VOLVER A JUGAR</a>
				<a class="exitButton" href="#/end">SALIR</a>
			</div>
		</div>
	</div>
</div>
	<!--<div class="mainSideNav">
		<div class="logoEAD"><img src="img/ead_logo.png" alt="E/AD"/></div>
		<div class="shareBall">
			<img src="img/main/share_ball.png" alt="Share"/>
			<div class="twButton"><a href="https://twitter.com/intent/tweet?text=Maneja+el+trineo+de+Santa+y+atrapa+muchos+regalos+sorpresa&amp;url=http://loquenoteesperabas.com"><img src="img/main/tw_button.png" alt="Twitter"/></a></div>
			<div class="fbButton" ng-click="sharesite()"><img src="img/main/fb_large.png" alt="Facebook" style="position: relative; left: 24px;"/><img src="img/main/fb_small.png" alt="facebook"/></div>
		</div>
	</div>-->
	<!-- Facebook share: Ya atrapé mi regalo manejando el trineo de Santa. Juega tú también. ¡Hay premios! -->
