<!--sync.html-->

<!-- 
	 <div class="syncMenu">
		<div class="phoneLayer">
			<img src="img/sync/step_1.png" class="paso1" alt="Paso 1"/>
			<img src="img/sync/step_2.png" class="paso2" alt="Paso 2"/>
			<div ng-class="[estado]" class="phone"></div>
		</div>
		<div class="textLayer">
			<div class="firstText"><p>1. Ingresa a <span>loquenoteesperabas.com</span> desde tu dispositivo</p></div>
			<div class="secondText"><p>2. Introduce la siguiente clave: <span>{{key}}</span>  para sincronizar el juego</p></div>
			<div class="thirdText" ng-hide="[estado] == 'inactive'" ng-show="[estado] == 'active'"><p>3. ¡Listo<span>{{user}}</span>, ya tu dispositivo se ha sincronizado al computador! Haz clic en ¡A Jugar!</p></div>
		</div>
	</div>

	<div class="mainSideNav">
		<div class="logoEAD"><img src="img/ead_logo.png" alt="E/AD"/></div>
		<div class="shareBall">
			<img src="img/main/share_ball.png" alt="Share"/>
			<div class="twButton"><img src="img/main/tw_button.png" alt="Twitter"/></div>
			<div class="fbButton"><img src="img/main/fb_large.png" alt="Facebook" style="position: relative; left: 24px;"/><img src="img/main/fb_small.png" alt="facebook"/></div>
		</div>
	</div>

	<div class="syncUser">
		<div class="roundContainer" ng-class="[estado]">
			<div class="photoContainer" ng-style="{'background-image':'url(' + profilepic.src + ')','width': profilepic.width, 'height': profilepic.height }"  ng-styling="{{profilepic.src}}"></div>
		</div>
		<div class="userPlay" ng-class="[estado]"><a href="#game" ng-show="synced" id="game">¡A jugar!</a></div>
	</div> -->